#aOverlay {
	background: #000;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0; left: 0;
	z-index: 900;
	display: none;
	cursor: pointer;
}
#aBox {
	position: absolute;
	z-index: 950;
	height: 42px; width: 42px;
	overflow: hidden;
}
#aBox div#aImgHolder {
	display: block;
	padding: 10px 0;
	background: #EEE;
	min-height: 32px;
}
#aBox img#aImg {
	display: block;
	margin: 0 10px;
	background: #EEE;
}
#aBox *:focus { -moz-outline: 0;; }
#aBox a.aButton {
	float: right;
	background-color: transparent;
	background-image: url(/site_media/awesome-box/images/aBox-buttons.gif);
	text-decoration: none;
	width: 40px; height: 16px;
	cursor: pointer;
	border: 0;
	background-repeat: no-repeat;
}
#aBox a.aButton:hover {
	background-color: transparent;
	text-decoration: none;
	border: 0;
}
#aBox a.aButton:active {
	background-color: transparent;
	border: 0;
}
#aBox a#aCloseButton {
	width: 28px;
	height: 32px;
}
#aBox a#aCloseButton { background-position: 0 0; float: left; }
#aBox a#aNextButton { background-position: -68px 0; }
#aBox a#aPrevButton { background-position: -28px 0; }

#aBox a#aCloseButton:hover { background-position: 0 -64px; }
#aBox a#aNextButton:hover { background-position: -68px -64px; }
#aBox a#aPrevButton:hover { background-position: -28px -64px; }

#aBox a#aCloseButton:active { background-position: 0 -32px; }
#aBox a#aNextButton:active { background-position: -68px -32px; }
#aBox a#aPrevButton:active { background-position: -28px -32px; }

#aBox div#aBoxMeta {
	position: absolute;
	z-index: 960;
	background: #EEE;
	padding: 0 10px;
	height: 0;
	overflow: hidden;
}
#aBox h1#aInfoTitle {
	color: #444;
	font-size: 16px;
	font-weight: bold;
	margin: 0 80px 0 32px;
}
#aBox p#aCount {
	clear: right;
	float: right;
	text-align: center;
	width: 80px;
	margin: 0;
	color: #666;
	font-size: 11px;
}
#aBox p#aInfo {
	margin: 0 80px 0 32px;
	color: #666;
	font-size: 11px;
}
#aBox h1#aInfoTitle, #aBox p#aCount, #aBox p#aInfo {
	font-family: Arial, Helvetica, Verdana, sans-serif !important;
	text-transform: none !important;
}

img#aLoadImg {
	position: absolute;
	top: -900em; left: -900em;
	border: 0;
	width: 32px;
	height: 32px;
	z-index: 999;
}
