* {
	margin: 0pt;
	padding: 0pt;
	-webkit-user-select:none;
	-moz-user-select:none;
}

body {
	font-family: "Serif72Beta",tahoma,verdana,arial,sans-serif;
	color: #000;
	font-size: 18px;
	line-height: 26px;
}

h1 {
	padding-top: 0.75em;
	font-size: 36px;
	padding-bottom: 0.25em;
	text-indent:-40px;
	padding-left: 40px;
	
}

h2 {
	padding-top: 0.75em;
	font-size: 24px;
	margin-bottom: 0.25em;
	font-style: italic;
	font-weight: normal;
}

h3 {
	font-weight: bold;
	display: inline;
	font-size: 14px;
}

p {
	text-align: justify;
	margin-bottom: 0.5em;
	padding-left: 35px;
}

table {
	margin-left: 35px;
	margin-bottom: 0.5em;
	border-collapse:collapse;
}

table tr {
	vertical-align: top;
}

table tr td {
	padding: 0pt 13px;
}

table tr th {
	text-align: left;
	font-size: 90%;
	border-bottom: 2px solid #DFDFDF;
	padding: 3px 3px 1px 3px;
}