* {
	margin: 0pt;
	padding: 0pt;
}
body {
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
}
div.canvas {
	background-color: #FFF;
	height: 550px;
	overflow: hidden;
	cursor: hand; cursor: pointer;				
}
	div.canvas dl dt, div.canvas dl dd.topItem {
		border-top: 1px solid #ddd;
	}
	div.canvas dl dt, div.canvas dl dd {
		border-bottom: 1px solid #ddd;
		border-left: 1px solid #ddd;
		border-right: 1px solid #ddd;
	}
	div.canvas dl dt {
		font-weight: bold;
		font-size: 11px;
		color: #FFF;
		background-image: url('images/letterGradient.png');
		background-repeat: repeat-x;
		padding-left: 5px;
	}
	div.canvas dl dd {
		font-size: 120%;
		padding: 5px 5px;
	}

	div.canvas div.noItems {
		text-align: center;
		border: 2px solid #ddd;
		padding: 40px 0px 50px;
		font-size: 150%;
		color: #666;
	}
/* <end canvas */

iframe#menuItemViewer {
	border: 2px solid #ddd;	
}

div.topNav, div.bottomNav {
	color: #EEE;
	clear: both;
	text-align: center;
}
div.topNav {
	background-image: url('images/topGradient.png');
	background-repeat: repeat-x;
	height: 35px;
}
div.bottomNav {
	background-image: url('images/bottomGradient.png');
	background-repeat: repeat-x;
	height: 40px;
	clear: both;
}

dl#toScroll {
	position: relative;
}