body {
	background-image: url('images/paper.png')
}

div#smallInfo {
	float: right;
}
	div#smallInfo em {
		width: 80px;
		text-align: right;
		margin-right: 0.6em;
		display: block;
		float: left;
	}
	div#smallInfo span {
		font-weight: bold;
	}
/* end smallInfo */

table.steps {
	margin-left: 10px;
}

td.stepNum {
	text-align: right;
	width: 25px;
	padding: 0pt;
}

td.noteStep {
	font-weight: bold;
}

td.noteStep {
	text-indent:-38px;
	padding-left: 38px;
}

td.photoStep {
	text-align: center;
}

a#thumbImage {
	float: right;
}
	a#thumbImage img {
		border: 1px solid #3C5F7F;
		padding: 5px;
	}
/*end a#thumbImage*/