div#smallInfo {
	margin: 20px 0px 15px;
}
	div#smallInfo div {
		height: 24px;
		vertical-align: bottom;
	}

	div#smallInfo h3 {
		width: 80px;
		text-align: right;
		margin-right: 5px;
		display: block;
		float: left;
		line-height: 18px;
	}
	div#smallInfo span {
		line-height: 18px;
	}
/* end smallInfo */

table {
	margin-bottom: 18px;
}

td.stepNum {
	text-align: right;
	width: 25px;
}

td.noteStep {
	font-weight: bold;
}

td.noteStep {
	text-indent:-25px;
	padding-left: 35px;
}

a#thumbImage {
	float: right;
}
	a#thumbImage img {
		border: 1px solid #3C5F7F;
		padding: 5px;
	}
/*end a#thumbImage*/