body {
	background-image: url('images/paper.png');
	margin: 0;
	padding: 0;
}

div#smallInfo {
	float: right;
}
	div#smallInfo em {
		width: 80px;
		text-align: right;
		margin-right: 0.6em;
		display: block;
		float: left;
	}
	div#smallInfo span {
		font-weight: bold;
	}
/* end smallInfo */

table.steps {
	margin-left: 10px;
}

td.stepNum {
	text-align: right;
	width: 25px;
	padding: 0pt;
}

td.noteStep {
	font-weight: bold;
}

td.noteStep {
	text-indent:-38px;
	padding-left: 38px;
}

td.photoStep {
	text-align: center;
}

a#thumbImage {
	-webkit-transform: rotate(2deg);
	-moz-transform: rotate(2deg);
	transform: rotate(2deg);
}
a#thumbImage img#preview_img {
	margin-top: 0.5em;
	border: 4px solid #FFF;
	-moz-box-shadow:    3px 3px 7px #666;
	-webkit-box-shadow: 3px 3px 7px #666;
	box-shadow:         3px 3px 7px #666;
}

a#thumbImage img#thumb-tack {
	position: relative;
	top: -225px;
	left: 135px;
}
a#thumbImage, a#thumbVideo {
	clear: right;
	float: right;
	margin-right: -10px;
	margin-left: 1em;
	display: block;
}
	a#thumbImage img#preview_img {
		z-index: 20;
	}
/*end a#thumbImage*/