<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Keg DB</title>

	<link rel="stylesheet" type="text/css" href="/site_media/yui/reset-min.css">
	<link rel="stylesheet" type="text/css" href="/site_media/global.css">
	<link rel="stylesheet" type="text/css" href="/site_media/index.css">

	<script type="text/javascript" src="/site_media/yui/utilities.js"></script>
	<script type="text/javascript" src="/site_media/yui/yahoo-min.js"></script> 
	<script type="text/javascript" src="/site_media/yui/dom-min.js"></script>
	<script type="text/javascript" src="/site_media/yui/yahoo-dom-event.js"></script>
	<script type="text/javascript" src="/site_media/yui/element-min.js"></script>
	<script type="text/javascript" src="/site_media/yui/animation-min.js"></script>
	<script type="text/javascript" src="/site_media/yui/event-min.js"></script>
	<script type="text/javascript" src="/site_media/yui/connection-min.js"></script>
	<script type="text/javascript" src="/site_media/yui/json-min.js"></script>

	<script type="text/javascript" src="/site_media/index.js"></script>
	
	<script type="text/javascript" charset="utf-8">
		var menuItemManager = new MenuItemManager("menuItemsToScroll", "menuItemsCanvas", "menuItemViewer", "prep");
		var categoryListManager = new CategoryListManager("categoryToScroll", "categoryCanvas", menuItemManager);
		var topNavigationManager = new TopNavigationManager("topNav", menuItemManager);
	</script>
	
	<style type="text/css" media="screen">
		div#categoryCanvas  { float: left; width: 20%; }
		div#menuItemsCanvas { float: left; width: 30%; }
		iframe { width: 49%; height: 550px; }
	</style>
</head>
<body onLoad="menuItemManager.init(); categoryListManager.init(); topNavigationManager.init();">
	<div id="topNav">
		<a state="selected"   id="preparation"            display_type="prep"></a>
		<a state="unselected" id="cook_present"           display_type="cook"></a>
		<a state="unselected" id="allergy_info"           display_type="allergy"></a>
		<a state="unselected" id="allergy_reverse_lookup" display_type="reverse"></a>
	</div>
	<div id="categoryCanvas" class="canvas">
		<dl id="categoryToScroll"></dl>
	</div>
	<div id="menuItemsCanvas" class="canvas">
		<dl id="menuItemsToScroll"></dl>
	</div>
	<iframe id="menuItemViewer">
	</iframe>
</body>
</html>
