<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Keg DB</title>

	<link rel="stylesheet" type="text/css" href="/site_media/yui/reset-min.css">
	<link rel="stylesheet" type="text/css" href="/site_media/global.css">
	<link rel="stylesheet" type="text/css" href="/site_media/index.css">

	<script type="text/javascript" src="/site_media/yui/utilities.js"></script>
	<script type="text/javascript" src="/site_media/yui/yahoo-min.js"></script>
	<script type="text/javascript" src="/site_media/yui/dom-min.js"></script>
	<script type="text/javascript" src="/site_media/yui/yahoo-dom-event.js"></script>
	<script type="text/javascript" src="/site_media/yui/element-min.js"></script>
	<script type="text/javascript" src="/site_media/yui/animation-min.js"></script>
	<script type="text/javascript" src="/site_media/yui/event-min.js"></script>
	<script type="text/javascript" src="/site_media/yui/connection-min.js"></script>
	<script type="text/javascript" src="/site_media/yui/json-min.js"></script>

	<script type="text/javascript" src="/site_media/index.js"></script>

	<script type="text/javascript" charset="utf-8">
		var superManager = new SuperManager();

		var menuItemManager = new MenuItemManager("menuItemsToScroll", "menuItemsCanvas", "menuItemViewer", "prep", superManager);
		var categoryListManager = new CategoryListManager("categoryToScroll", "categoryCanvas", superManager);
		var topNavigationManager = new TopNavigationManager("topNav", superManager);


		// Call back for iFrame link to display a prep item
		var show_prep_item = function(item_id) {
			superManager.show_prep_item(item_id);
		}
		var show_cook_item = function(item_id) {
			superManager.show_cook_item(item_id);
		}
	</script>

	<style type="text/css" media="screen">
		div#topNav { display: none; }

		div#categoryCanvas  { top: 95px; left: 29px; width: 189px; height: 822px; }
		div#menuItemsCanvas { left: 20%; width: 30%; display: none;}
		div#viewerContainer { left: 50%; width: 50%; display: none;}
	</style>
</head>
<body onLoad="menuItemManager.init(); categoryListManager.init(); topNavigationManager.init();">
	<div id="topNav">
		<a state="selected"   id="preparation"            display_type="prep"></a>
		<a state="unselected" id="cook_present"           display_type="cook"></a>
		<a state="unselected" id="allergy_info"           display_type="allergy"></a>
		<!-- <a state="unselected" id="allergy_reverse_lookup" display_type="reverse"></a> -->
	</div>
	<div id="categoryCanvas" class="canvas">
		<dl id="categoryToScroll"></dl>
	</div>
	<div id="menuItemsCanvas" class="canvas">
		<dl id="menuItemsToScroll"></dl>
	</div>
	<div id="viewerContainer" class="canvas">
		<iframe id="menuItemViewer" scrolling="no">
		</iframe>
	</div>
</body>
</html>
