<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>{% block pageTitle %}Prep Information - {{menu_item.name}} {% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="/site_media/global.css">
	<link rel="stylesheet" type="text/css" href="/site_media/menuItem.css">

	<script type="text/javascript" src="/site_media/yui/utilities.js"></script>
	<script type="text/javascript" src="/site_media/index.js"></script>

	<script type="text/javascript" charset="utf-8">
		var scrollManager = new ScrollManager("mainToScroll", "mainCanvas");
	</script>
	<style type="text/css" media="screen">
		div#mainCanvas {
			height: 550px;
			cursor: hand; cursor: pointer;
		}
	</style>
</head>
<body style="padding: 5px 15px;" onload="scrollManager.init();">
	<div id="mainCanvas" class="canvas">
		<div id="mainToScroll">
			<h1>{{menu_item.name}}</h1>

			<div id="smallInfo">{% block smallInfo %}{% endblock smallInfo %}</div>

			{% block qualityCheck %}<h2 style="clear: both;">Quality Check:</h2>{% endblock qualityCheck %}
			{% block flatware %}<h2>Flatware</h2>{% endblock flatware %}
			{% block ingredients %}<h2>Ingredients</h2>{% endblock ingredients %}
			{% block steps %}<h2>Steps</h2>{% endblock steps %}
			{% block presentation %}<h2>Presentation</h2>{% endblock presentation %}
			{% block storage %}<h2>Storage</h2>{% endblock storage %}
			{% block allergies %}<h2>Allergies</h2>{% endblock allergies %}
			{% block extra %}{% endblock extra %}
		</div>
	</div>
</body>
</html>
