{% extends "menuItem_base.html" %}

{% block pageTitle %}Allergy Information - {{menu_item.name}} {% endblock %}

{% block allergies %}
{% if allergens %}
<div id="allergy_basic">
	{{ block.super }}
	{% for allergen in allergens_basic %}
	<p>{{allergen}}</p>
	{% endfor %}
	<p><a href="javascript:$('allergy_basic').style.display = 'none';$('allergy_detail').style.display = 'table';" >More Details</a></p>
</div>

<table id="allergy_detail" style="display:none">
	<thead>
	<tr>
		<th>Allergen</th><th>Found In</th><th>Used In</th>
	</tr>
	</thead>
	<tbody>
	{% for allergen in allergens %}
	<tr>
		<td>{{allergen.0}}</td>
		<td>{{allergen.2}} <strong style="font-size: 90%">({{allergen.1}})</strong></td>
		{% if allergen.3 == 'C' %}<td>Cook</td>{% else %}<td>Prep</td>{% endif %}
	</tr>
	{% endfor %}
	</tbody>
</table>
{% else %}
<h3>No allergy information found for {{menu_item.name}}</h3>
{% endif %}

<hr style="margin-bottom: 0.5em;">
<p style="color: #333; font-size: 14px; line-height: 18px; padding-left: 0px;"><strong>Note:</strong> Allergy Information
	Is <strong>NOT</strong> always accurate.</p>
{% endblock allergies %}

<!-- Remove content from parent template -->
{% block photo %}{% endblock photo %}
{% block smallInfo %}{% endblock smallInfo %}
{% block qualityCheck %}{% endblock qualityCheck %}
{% block ingredients %}{% endblock ingredients %}
{% block steps %}{% endblock %}
{% block storage %}{% endblock %}
{% block presentation %}{% endblock %}
{% block flatware %}{% endblock %}