{% extends "menuItem_base.html" %}

{% block pageTitle %}Prep Information - {{menu_item.name}} {% endblock %}

{% block smallInfo %}
	{{ block.super }}
	<div><h3>Yield</h3><span>{{menu_item.cook_yield}}</span></div>
{% endblock smallInfo %}

{% block qualityCheck %}
	{{ block.super }}
	<p>{{menu_item.quality_check_cook}}</p>
{% endblock qualityCheck %}

{% block ingredients %}
{{ block.super }}
<table>
	<tbody>
	{% for ingredient in ingredients %}
	<tr>
		<td>{{ingredient.amount_metric}}</td>
		<td>{{ingredient.amount_imperial}}</td>
		<td>{{ingredient.name}}</td>
	</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock ingredients %}

{% block steps %}
{{ block.super }}
<table>
	<tbody>
	{% for step in steps %}
	<tr>
		{% if step.isNote %}
		<td colspan="2" class="noteStep">NOTE: {{step.step}}</td>
		{% else %}
		<td class="stepNum">{{step.dispOrder}}.</td>
		<td>{{step.step}}</td>
		{% endif %}
	</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock %}

{% block presentation %}
{{ block.super }}
<table>
	<tbody>
	{% for pres in presentation %}
	<tr>
		{% if pres.isNote %}
		<td colspan="2" class="noteStep">NOTE: {{pres.step}}</td>
		{% else %}
		<td class="stepNum">{{pres.dispOrder}}.</td>
		<td>{{pres.step}}</td>
		{% endif %}
	</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock %}

<!-- Remove content from parent template -->
{% block storage %}{% endblock %}
{% block allergies %}{% endblock %}
