{% extends "menuItem_base.html" %}

{% block pageTitle %}Prep Information - {{menu_item.name}} {% endblock %}

{% block smallInfo %}
	{{ block.super }}
	<div><h3>Yield</h3><span>{{menu_item.prep_yield}}</span></div>
	<div><h3>Shelf Life</h3><span>{{menu_item.shelf_life}}</span></div>
{% endblock smallInfo %}

{% block qualityCheck %}
	{{ block.super }}
	<p>{{menu_item.quality_check_prep}}</p>
{% endblock qualityCheck %}

{% block ingredients %}
{{ block.super }}
<table>
	<tbody>
	{% for ingredient in ingredients %}
	<tr>
		<td>{{ingredient.amount_metric}}</td>
		<td>{{ingredient.amount_imperial}}</td>
		{%if ingredient.linked_prep_item_id %}<td><a href="javascript:parent.show_prep_item({{ingredient.linked_prep_item_id}});">{{ingredient.name}}</a></td>
		{% else %}<td>{{ingredient.name}}</td>{% endif %}
	</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock ingredients %}

{% block steps %}
{% if steps %}
{{ block.super }}
<table>
	<tbody>
	{% for step in steps %}
	<tr>
		{% if step.photo %}
		<td colspan="2" class="photoStep"><img src="{{ step.photo }}"></td>
		{% else %}{% if step.isNote %}
		<td colspan="2" class="noteStep">NOTE: {{step.step}}</td>
		{% else %}
		<td class="stepNum">{{step.dispOrder}}.</td>
		<td>{{step.step}}</td>
		{% endif %}{% endif %}
	</tr>
	{% endfor %}
	</tbody>
</table>
{% endif %}
{% endblock %}

{% block storage %}
{% if storage %}
{{ block.super }}
<table>
	<tbody>
	{% for store in storage %}
	<tr>
		{% if store.isNote %}
		<td colspan="2" class="noteStep">NOTE: {{store.step}}</td>
		{% else %}
		<td class="stepNum">{{store.dispOrder}}.</td>
		<td>{{store.step}}</td>
		{% endif %}
	</tr>
	{% endfor %}
	</tbody>
</table>
{% endif %}
{% endblock storage %}

<!-- Remove content from parent template -->
{% block photo %}{% endblock %}
{% block allergies %}{% endblock %}
{% block presentation %}{% endblock %}
{% block flatware %}{% endblock %}
