<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

{% load thumbnail %}


<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>{% block pageTitle %}Prep Information - {{menu_item.name}} {% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="/site_media/global.css">
	<link rel="stylesheet" type="text/css" href="/site_media/typography/typography.css">
	<link rel="stylesheet" type="text/css" href="/site_media/menuItem.css">
	<link rel="stylesheet" type="text/css" href="/site_media/shadowbox/shadowbox.css">

	<script type="text/javascript" src="/site_media/yui/utilities.js"></script>
	<script type="text/javascript" src="/site_media/index.js"></script>
	<script type="text/javascript" src="/site_media/shadowbox/shadowbox.js"></script>
	<script type="text/javascript" src="/site_media/js/iscroll-lite.js"></script>


	<script type="text/javascript" charset="utf-8">
	    // iScroll FIX - Hook this up!
		//var scrollManager = new ScrollManager("mainToScroll", "mainCanvas");
		Shadowbox.init();

        function page_loaded() {
            setTimeout(function () {
                myScroll = new iScroll("mainCanvas");
            }, 100);
        }
		window.addEventListener('load', page_loaded, false);
	</script>
	<style type="text/css" media="screen">
		div#mainCanvas {
			height: 665px;
		    position: absolute;
		    top: 5px; bottom: 5px; left: 15px; right: 15px;
		}
	</style>
</head>
<body>
	<div id="mainCanvas" class="canvas">
		<div id="mainToScroll">
			<div id="smallInfo">{% block smallInfo %}{% endblock smallInfo %}</div>

			{% block photo %}
				{% if menu_item.photo and display_type == 'cook' %}
				<a href="{{menu_item.photo.url}}" id="thumbImage" rel="shadowbox">
				    <img id="preview_img" width="293" height="200" src="{% thumbnail menu_item.photo 293x200 crop=smart %}" alt="{{ menu_item.name }}" /><br>
					<img id="thumb-tack" width="35" height="27" src="/site_media/images/thumb-tack.png" />
				</a>
				{% endif %}
			{% endblock photo %}

			{% block video %}
			{% endblock video %}

			<h1>{{menu_item.name}}</h1>

			{% block qualityCheck %}<h2>Quality Check:</h2>{% endblock qualityCheck %}
			{% block flatware %}<h2>Flatware</h2>{% endblock flatware %}
			{% block ingredients %}<h2>Ingredients</h2>{% endblock ingredients %}
			{% block steps %}<h2>Steps</h2>{% endblock steps %}
			{% block presentation %}<h2>Presentation</h2>{% endblock presentation %}
			{% block storage %}<h2>Storage</h2>{% endblock storage %}
			{% block allergies %}<h2>Allergies</h2>{% endblock allergies %}
			{% block extra %}{% endblock extra %}
			<br>
		</div>
	</div>
</body>
</html>
