{% extends "menuItem_base.html" %}

{% block pageTitle %}Cook Information - {{menu_item.name}} {% endblock %}

{% block extra %}
	{% if usedIn %}
	<h2>Is used in the following:</h2>
	{% for menuitem in usedIn %}
		<p><a href="javascript:parent.show_cook_item({{menuitem.id}});">{{menuitem.name}}</a></p>
	{% endfor %}
	{% else %}
	<h3>No cooking information found for {{menu_item.name}}</h3>
	{% endif %}
{% endblock extra %}

<!-- Remove content from parent template -->
{% block photo %}{% endblock %}
{% block smallInfo %}{% endblock smallInfo %}
{% block qualityCheck %}{% endblock qualityCheck %}
{% block flatware %}{% endblock flatware %}
{% block ingredients %}{% endblock ingredients %}
{% block steps %}{% endblock steps %}
{% block presentation %}{% endblock presentation %}
{% block storage %}{% endblock storage %}
{% block allergies %}{% endblock allergies %}
