{% extends "menuItem_base.html" %}

{% block pageTitle %}Allergy Information - {{menu_item.name}} {% endblock %}

{% block allergies %}
<div style="float: left; width: 70%;">
	{{ block.super }}
	<table>
		<tbody>
		{% for allergen in allergens %}
		<tr>
			<td>{{allergen.name}}</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
{% endblock allergies %}

<!-- Remove content from parent template -->
{% block smallInfo %}{% endblock smallInfo %}
{% block qualityCheck %}{% endblock qualityCheck %}
{% block ingredients %}{% endblock ingredients %}
{% block steps %}{% endblock %}
{% block storage %}{% endblock %}
{% block presentation %}{% endblock %}
{% block photo %}{% endblock %}
